
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.head {
     background-image: url("../B12A01-landing-launchpad/Assets/Hero-bg.png");
     /* padding-bottom: 10px; */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
    
}
/* main {
    margin: 0 150px;
} */
.nav-caption {

    font-weight: 600;
    font-size: 45px;
    color: #4E47FF;
    font-weight: bold;
   
    
}
.btn-primary {
    background-color: #4E47FF;
    color: white;
    padding: 15px 33px;
    border-radius: 5px;
    border: none;
    margin: 50px ;
    font-size: 15px;

    
}
.launch-live-btn {
    margin: 0;
}
.btn-primary:hover{
    background-color: crimson;
}
.page {
    
    margin: 100px auto;
    font-size: 20px;
    width: 1440px;
    text-align: center;
    gap: 37px;
    color: #252432;
    justify-content: center;

}
.title {
    color: #252432;
   
}
.second-title {
  
    text-align: left;
    margin: 80px 0;
    padding: 40px;
    max-width: 500px;
    
}
.Action-sec {
    display: flex;
    
    justify-content: space-between;
    margin: 141px 160px;
    width: 1200px;
    font-size: 20px;
    text-align: left;
    align-items: center;
    

    
   
}
.image {
    border-radius: 48px;
   
}
.sub-title {
    color: #252432;
}


