
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.head {
     background-image: url("../B12A01-landing-launchpad/Assets/Hero-bg.png");
     padding-bottom: 2px;
    
      background-repeat: no-repeat;
      background-position: center;
}
* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
 background-size: cover;
}

 body div{
  height: 100%;
  margin: 0;
  padding: 0;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
    
}
/* main {
    margin: 0 150px;
} */
.nav-caption {

    font-weight: 600;
    font-size: 45px;
    color: #4E47FF;
    font-weight: bold;
   
    
}
.btn-primary {
    background-color: #4E47FF;
    color: white;
    padding: 15px 33px;
    border-radius: 5px;
    border: none;
    margin: 50px ;
    font-size: 15px;

    
}
.launch-live-btn {
    margin: 0;
}
.btn-primary:hover{
    background-color: crimson;
}
.page {
    
    margin: 100px auto;
    font-size: 20px;
    width: 1440px;
    text-align: center;
    gap: 37px;
    color: #252432;
    justify-content: center;
   

}
.title {
    color: #252432;
   
}
.second-title {
  
    text-align: left;
    margin: 80px 0;
    padding: 40px;
    max-width: 500px;
    
}
.Action-sec {
    display: flex;
    
    justify-content: space-between;
    margin: 141px 160px;
    width: 1200px;
    font-size: 20px;
    text-align: left;
    align-items: center;
    

    
   
}
.image {
    border-radius: 48px;
   
}
.sub-title {
    color: #252432;
    margin-top: 20px;
    margin-bottom: 30px;
}
.users {
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
/* .about-item{
    display: flex;
} */
 .item-name {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 158px;
   
 }
.item-title {
    text-align: center;
    font-size: 70px;
    color: #4E47FF;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 30px;
    
}
.item-description {
    text-align:5px;
    font-size: 20px;
    justify-content: center; 
    margin-bottom: 50px;   
    
}
.image-sec {
background-color:#E6E6FA	 ;
    margin: 104px 180px;
    border-radius: 30px;
    padding-top: 20px;
}
.text-title {
    text-align: center;
    font-size: 40px;
    margin-top:130px ;
    margin-bottom: 110px;
}

section h2 {
    text-align: center;  
    
}
.section-title {
    border: none;
    padding: 50px 10px;
    font-size: 40px;
    margin: 20px 180px;
    box-shadow: 2px solid gray;
    

}
.card-section {
   
    border: none;
    margin: 20px 340px;
    padding: 10px 1px;
    
}
.card-container {
    border: none;
    display: flex;
    justify-content: space-between;
}
.card {
    border: none;
    background-color: antiquewhite;
    width: 350px;
    border-radius: 5px;
    padding: 20px 40px;
    
      
}
.img-size {
    border-radius: 500px;
    
}
.title-description {
   gap: 10px;
}
.description {
     display: flex;
     justify-content: auto;

}
.sub-class {
    margin-top: 30px;
}
.card-style {
    margin-bottom: 15px;
}
.card-title {
    margin-top: 15px;
}
.border-center {
    text-align: center;
    border: 10px solid brown;
    margin: auto 300px;
}
.text-prime {
    margin: 20px 20px;
    padding: 2px 20px;
    text-align: center;
   
}
.border  {
    border: none;
    margin: 137px 320px;
    background-color: #FAF9F6;
    padding: 30px 20px;
    border-radius: 20px;
   
}
.section-title2 {
    padding: 5px 20px;
    font-size: 40px;
    
}
.btn {
    margin: 3px 450px;
    margin-bottom: 20px;
}
.image-sec2 {
    border-radius: 80px;
    margin: 20px 140px;
}


